{{#if company}}
<section class="block">
  <h2 id="about">About {{company.title}}</h2>

  <dl>
    <dd>{{{company.description}}}</dd>
	</br>
    <dd>More information on {{company.title}}, our logo & relevant media are available <a href="..">here</a>.</dd>
  </dl>
</section>
{{/if}}

{{#if hasAbouts}}
{{#each presskit.abouts}}
<section class="block">
  <h2 id="about_{{title}}">About {{title}}</h2>

  <dl>
    <dd>{{{description}}}</dd>

    {{#if link}}
	</br>
    <dd>More information on {{title}} is available <a href="{{link}}">here</a>.</dd>
    {{/if}}
  </dl>
</section>
{{/each}}
{{/if}}
